#screen1(ui-layout='', style='width:{{layout.width}}px;height:{{layout.height + 44}}px')

  include ./views/view1/_view1.jade

  div(ng-switch='modal.type')
    include ./tasks/_taskEdit.jade
    include ./tasks/_taskInfo.jade
    include ./tasks/_taskDragGhost.jade
    include ./views/changes/_changes.jade

  div(ng-if='addCommentAndSave')
    include ./tasks/_addCommentAndSave.jade

  .backdrop(ng-if='isShowAccount || addCommentAndSave || (modal.type != null && modal.type != "task-info" && modal.type != "drag-start")')

include ./account/_account.jade
